<h1>Welcome to Desert Dessert</h1>
<body>
<%= render 'layouts/header' %>
<p>Ever want to eat something but can't be obtained elsewhere?</p>
<p>You have then landed on the right website</p>
<p>Become a member with us!</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</body>


